<div class="home-container">
  <div class="home-banner">
    <div class="home-banner-logo-and-text">
      <%= image_tag "logo.svg", alt: "Naturo Creative Logo" %>
      <div>
        <h2>« Accepte ce qui est, laisse aller ce qui était <br> et aie confiance en ce qui sera »</h2>
        <h3>Buddha</h3>
      </div>
    </div>
  </div>
  <div class="home-banner-coming-soon">
    <h4>Rendez-vous prochainement sur ce site...</h4>
  </div>
</div>


